# Practical Exam: Supermarket Loyalty

International Essentials is an international supermarket chain.

Shoppers at their supermarkets can sign up for a loyalty program that provides rewards each year to customers based on their spending. The more you spend the bigger the rewards. 

The supermarket would like to be able to predict the likely amount customers in the program will spend, so they can estimate the cost of the rewards. 

This will help them to predict the likely profit at the end of the year.

## Data

The dataset contains records of customers for their last full year of the loyalty program.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
|customer_id | Unique identifier for the customer. </br>Missing values are not possible due to the database structure. |
|spend | Continuous. </br>The total spend of the customer in their last full year. This can be any positive value to two decimal places. </br>Missing values should be replaced with 0. |
|first_month | Continuous. </br>The amount spent by the customer in their first month of the year. This can be any positive value, rounded to two decimal places. </br>Missing values should be replaced with 0. |
| items_in_first_month | Discrete. </br>The number of items purchased in the first month. Any integer value greater than or equal to zero. </br>Missing values should be replaced by 0. |  
| region | Nominal. </br>The geographic region that the customer is based in. One of four values Americas, Asia/Pacific, Europe, Middle East/Africa. </br>Missing values should be replaced with "Unknown". |
| loyalty_years | Oridinal. </br>The number of years the customer has been a part of the loyalty program. One of five ordered categories, '0-1', '1-3', '3-5', '5-10', '10+'. </br>Missing values should be replaced with '0-1'.|
| joining_month | Nominal. </br>The month the customer joined the loyalty program. One of 12 values "Jan", "Feb", "Mar", "Apr", etc. </br>Missing values should be replaced with "Unknown".|
| promotion | Nominal. </br>Did the customer join the loyalty program as part of a promotion? Either 'Yes' or 'No'. </br>Missing values should be replaced with 'No'.|

# Task 1

Before you fit any models, you will need to make sure the data is clean. 

The table below shows what the data should look like. 

Create a cleaned version of the dataframe. 

 - You should start with the data in the file "loyalty.csv". 

 - Your output should be a dataframe named `clean_data`. 

 - All column names and values should match the table below.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
|customer_id | Unique identifier for the customer. </br>Missing values are not possible due to the database structure. |
|spend | Continuous. </br>The total spend of the customer in their last full year. This can be any positive value to two decimal places. </br>Missing values should be replaced with 0. |
|first_month | Continuous. </br>The amount spent by the customer in their first month of the year. This can be any positive value, rounded to two decimal places. </br>Missing values should be replaced with 0. |
| items_in_first_month | Discrete. </br>The number of items purchased in the first month. Any integer value greater than or equal to zero. </br>Missing values should be replaced by 0. |  
| region | Nominal. </br>The geographic region that the customer is based in. One of four values Americas, Asia/Pacific, Europe, Middle East/Africa. </br>Missing values should be replaced with "Unknown". |
| loyalty_years | Oridinal. </br>The number of years the customer has been a part of the loyalty program. One of five ordered categories, '0-1', '1-3', '3-5', '5-10', '10+'. </br>Missing values should be replaced with '0-1'.|
| joining_month | Nominal. </br>The month the customer joined the loyalty program. One of 12 values "Jan", "Feb", "Mar", "Apr", etc. </br>Missing values should be replaced with "Unknown".|
| promotion | Nominal. </br>Did the customer join the loyalty program as part of a promotion? Either 'Yes' or 'No'. </br>Missing values should be replaced with 'No'.|

In [2]:
# Use this cell to write your code for Task 1
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# reading the dataset
data=pd.read_csv('loyalty.csv')
data.head()

# Missing values should be replaced with "Unknown" in joining_month column
data.isnull().sum()
data['joining_month']=data['joining_month'].fillna('Unknown')

# renaming the dataset to be clean_data as required
clean_data=data
clean_data.head(10)

# check again if there any missing values
clean_data.isna().sum()
clean_data.head(10)

   customer_id   spend first_month  ...  loyalty_years joining_month promotion
0            1  132.68        15.3  ...           5-10           Nov        No
1            2  106.45        16.2  ...            0-1           Feb       Yes
2            3  123.16       25.26  ...            10+           Dec       Yes
3            4  130.60       24.74  ...            3-5           Apr        No
4            5  130.41       25.59  ...            3-5           Apr       Yes
5            6  127.46       21.45  ...            3-5           May       Yes
6            7  127.17       21.46  ...            3-5       Unknown        NO
7            8  125.50       19.11  ...            3-5           Jul       Yes
8            9  106.80       16.01  ...            0-1           Feb       Yes
9           10  112.28       21.49  ...            0-1           May        NO

[10 rows x 8 columns]

# Task 2 

The team at International Essentials have told you that they have always believed that the number of years in the loyalty scheme is the biggest driver of spend. 

Producing a table showing the difference in the average spend by number of years in the loyalty programme along with the variance to investigate this question for the team.

 - You should start with the data in the file 'loyalty.csv'.

 - Your output should be a data frame named `spend_by_years`. 

 - It should include the three columns `loyalty_years`, `avg_spend`, `var_spend`. 

 - Your answers should be rounded to 2 decimal places.

In [3]:
# Use this cell to write your code for Task 2

# spend_by_years = clean_data.groupby('loyalty_years')['spend'].agg(["mean","var"]).round(2)

# ranaming the spend_by_years columns to match the asked above
# spend_by_years = spend_by_years.rename(columns={'mean':'avg_spend','var':'var_spend'})

spend_by_years = clean_data.groupby('loyalty_years').agg(avg_spend=('spend','mean'),var_spend=('spend','var')).round(2)

spend_by_years.head()

               avg_spend  var_spend
loyalty_years
0-1               110.56       9.30
1-3               129.31       9.65
10+               117.41      16.72
3-5               124.55      11.09
5-10              135.15      14.10

# Task 3

Fit a baseline model to predict the spend over the year for each customer.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “test.csv” to predict new values based on your model. You must return a dataframe named `base_result`, that includes `customer_id` and `spend`. The `spend` column must be your predicted values.

In [4]:
# Use this cell to write your code for Task 3
from sklearn.linear_model import LinearRegression
# Load the data
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')
# converts categorical variables into a series of binary (0 or 1) columns, which is useful for machine learning algorithms that require numerical input.
train_data = pd.get_dummies(train_data)
test_data = pd.get_dummies(test_data)
train_data.head()

   customer_id   spend  ...  promotion_No  promotion_Yes
0            1  135.39  ...             0              1
1            2  129.74  ...             1              0
2            3  138.61  ...             1              0
3            4  129.94  ...             1              0
4            6   77.56  ...             1              0

[5 rows x 27 columns]

In [5]:
# Prepare the data
X_train = train_data.drop(columns=['customer_id', 'spend'])
y_train = train_data['spend']
X_test = test_data.drop(columns=['customer_id'])

# Fit the baseline model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on test data
predictions = model.predict(X_test)

# Create the result DataFrame
base_result = pd.DataFrame({
    'customer_id': test_data['customer_id'],
    'spend': predictions
})

base_result.head()

   customer_id       spend
0            5  140.699644
1            7  148.730919
2           16  140.810384
3           17  150.649670
4           19  153.628831

# Task 4

Fit a comparison model to predict the spend over the year for each customer.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “test.csv” to predict new values based on your model. You must return a dataframe named `compare_result`, that includes `customer_id` and `spend`. The `spend` column must be your predicted values.

In [6]:
# Use this cell to write your code for Task 4
from sklearn.ensemble import RandomForestRegressor
# Fit the comparison model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Predict on test data
predictions = model.predict(X_test)

# Create the result DataFrame
compare_result = pd.DataFrame({
    'customer_id': test_data['customer_id'],
    'spend': predictions
})

In [7]:
compare_result.head()

   customer_id     spend
0            5  140.5391
1            7  148.8677
2           16  141.1391
3           17  150.7593
4           19  153.6224